<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-P0bxBvZuV7szJ0NRio+N0QJcE3jj3rl89KjTgT1fmOhM8Nhv1ZS2S+lmzjK61O8OLJv4y+4wL4j/OOx+5GjK5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-w+iChLJuf/E/0klIN6Q0KjHTkZq7U6/gzX6DjKvwF79oiyj7c6Y17jfMiGue5E5KjGZfC28i9XO09orCuFCeBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/2b41c09eb4.js" crossorigin="anonymous"></script>      
    <title>BankSolu</title>
</head>
<body>

       
        <section class="top-nav">
            <div class="top-nav-logo">
              Bank<span class="solu">Solu</span>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
          </label>
            <ul class="menu">
                <li><a href="{{url_for('accueil')}}" class="navTex">Accueil</a></li>
                <li><a href="{{url_for('about')}}" class="navTex">A propos</a></li>
                <li><a href="{{url_for('session')}}" class="navTex">Session</a></li>
                <li><a href="{{url_for('inscription')}}" class="navTex"><button class="btn-register-login">Connexion/Inscription</button></a></li>
            </ul>
        </section>

        <div class="titre">
            <h1>Entrez en contact avec nous</h1>
        </div>

        <div class="espace_contact">
            <div class="contact_message">
                <div class="message_i">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="description">
                    <div>Notre équipe amical <br> attends votre email... </div>
                </div>
                <div class="locate">
                    BankSolu23@gmail.com
                </div>
            </div>
            <div class="contact_phone">
                <div class="message_i">
                    <i class="fa fa-phone-volume"></i>
                </div>
                <div class="description">
                    <div>Nos conseillé(e)s n’attendent <br> que votre appel ... </div>
                </div>
                <div class="locate">
                    +225 0700000000
                </div>
            </div>
            <div class="contact_locate">
                <div class="locate_i">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="description">
                    <div class="p">Venez dire bonjour, <br> Et discutons...</div>
                </div>
                <div class="locate">
                    Abidjan Cocody angré BP04
                </div>
            </div>
        </div>



        <footer class="footer-distributed">
      
            <div class="footer-right">
      
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
      
            </div>
      
            <div class="footer-left">
      
              <p class="footer-links">
                 <a class="link-1" href="#">Accueil</a>
      
                 <a href="#">A propos</a>
      
                 <a href="#">Session</a>

                 <a href="#">Contact</a>
              </p>
      
              <p><span class="bank">Bank</span><span class="solu">Solu </span> &copy; 2023</p>
            </div>
      
        </footer>
      
</body>
</html>