<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/login.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
			rel="stylesheet"
		/>
		<title>Connexion</title>
	</head>
	<body>
		<div class="signupSection">
			<div class="info">
				<h2>Mission vers une banque qui se rapproche de vous</h2>
				<i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
				<p>Le futur est ici</p>
				<img src="../static/img/Logo.png" alt="" />
			</div>
			<form action="" method="POST" class="signupForm" name="signupform">
				{% if error %}
				<p style="color: red;">{{error}}</p>
				{% endif %}
				<h2>Connexion</h2>
				<ul class="noBullet">
					<li>
						<label for="email"></label>
						<input
							type="email"
							class="inputFields"
							id="email"
							name="email"
							placeholder="Adresse e-mail"
							value=""
							required
						/>
					</li>

					<li>
						<label for="password"></label>
						<input
							type="password"
							class="inputFields"
							id="password"
							name="password"
							placeholder="Mot de passe"
							value=""
							oninput="return passwordValidation(this.value)"
							required
						/>
					</li>

					<li id="center-btn">
						<input
							type="submit"
							id="join-btn"
							name="join"
							alt="Rejoindre"
							value="Soumettre"
						/>
					</li>
				</ul>
				<p class="compte">
					Vous n'avez pas encore de compte ?
					<a href="{{url_for('inscription')}}">Ici</a>
				</p>
			</form>
		</div>
		<script src="../static/js/register.js"></script>
	</body>
</html>
