<!-- <!DOCTYPE html>
<link rel="stylesheet" href="../static/css/transaction_bank.css">
<html>
<head>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
    }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .box {
      width: 300px;
      height: 200px;
      background-color: #7551eb;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }
    
    .box:first-child {
      margin-right: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="box">
        <div class="card-solde">
            <h2>Solde</h2>
            <p class="montant" id="solde">10,000.00</p>
        </div>
    </div>
    <div class="box"> Projet</div>
  </div>
  <script src="../static/js/transaction_bank.js"></script>
</body>
</html> -->






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/transaction_bank.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/tableau_solde.css">
</head>
<body>
    <nav class="sidebar close">
        <header>
           <div class="image-text">
            <span>
                <!-- <img src="../static/téléchargement.png" alt=""> -->
            </span>

            

            <div class="text header-text" style="color: #7451EB;">
                <i class=" icon"><img src="../static/img/Banque de Condorcet (2).png" alt=""></i>
                <span  class="name" style="color: #7451EB;">Bank Solu</span>
                
            </div>
           </div> 
           <i class="bx bx-chevron-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    
                        <i class=" icon"><img style="width: 70px;height: 50px; border-radius: 50px;" src="../static/img/photo.png" alt=""></i>
                        <span class="text nav-text" for="" > <a style="color: rgba(0, 0, 0, 0.557);" href="../templates/profil.html"> Profil</a></span>
                        <!-- <input type="text" placeholder="Search..."> -->
                        
                   
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="../templates/tableau_solde.html">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="../templates/transaction_bank.html">
                            <i class='bx bx-transfer icon'></i>
                            <span class="text nav-text">Transaction</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="../templates/rendez_vous.html">
                            <i class='bx bx-calendar-check icon'></i>
                            <span class="text nav-text">Prise de rendez-vous</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-pie-chart-alt icon"></i>
                            <span class="text nav-text">Historique</span>
                        </a>
                    </li>
                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-heart icon"></i>
                            <span class="text nav-text">Déconnexion</span>
                        </a>
                    </li> -->
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-wallet icon"></i>
                            <span class="text nav-text">Portefeuille</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Déconnexion</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moov-sum">
                        <!-- <i class="bx bx-moon icon moon"></i> -->
                        <!-- <i class="bx bx-sun icon sun" ></i> -->
                    </div>

                       <!-- <span class="mode-text text">Dark Mode</span> -->

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>







  <!-- Solde du tableau de bord -->

<body>
    <div class="header">
        <h1>Mon Compte</h1>
      </div>
  <div class="container">
  
    <div class="solde">
      <h2 style="color: #7451EB;">Solde actuel</h2>
      <p><strong> 1.000.000F</strong></p>
    </div>
  
    <div class="historique">
        <!-- depot -->
      <h2>Historique des transactions</h2>
      <hr>
      <h4>Dépôts</h4>
      <br>
      <div class="transaction">
        <span>Numéro de transaction :</span>
        <span class="num-transaction">+225 07 89 95 0493</span>
        <span>Montant :</span>
        <span class="montant">300.000F</span>
        <span>Date :</span>
        <span class="num-transaction">25/05/2023 15:22</span>
      </div>
      <div class="transaction">
        <span>Numéro de transaction :</span>
        <span class="num-transaction">+225 07 77 49 2212</span>
        <span>Montant :</span>
        <span class="montant">1.300.000F</span>
        <span>Date :</span>
        <span class="num-transaction">19/11/2022 12:03</span>
      </div>
      <div class="transaction">
        <span>Numéro de transaction :</span>
        <span class="num-transaction">+225 07 59 15 2201</span>
        <span>Montant :</span>
        <span class="montant">400.000.000F</span>
        <span>Date :</span>
        <span class="num-transaction">02/08/2021 17:39</span>
      </div>

      <!-- retrait -->
      <hr>
      <h4>Dépôts</h4>
      <br>
      <div class="transaction">
        <span>Numéro de transaction :</span>
        <span class="num-transaction">+225 07 89 95 0493</span>
        <span>Montant :</span>
        <span class="montant">300.000F</span>
        <span>Date :</span>
        <span class="num-transaction">07/07/2022 17:40</span>
      </div>
      <div class="transaction">
        <span>Numéro de transaction :</span>
        <span class="num-transaction">+225 07 77 49 2212 </span>
        <span>Montant :</span>
        <span class="montant">1.300.000F</span>
        <span>Date :</span>
        <span class="num-transaction">07/02/2023 07:30</span>
      </div>
      <div class="transaction">
        <span>Numéro de transaction :</span>
        <span class="num-transaction">+225 07 59 15 2201</span>
        <span>Montant :</span>
        <span class="montant">400.000.000F</span>
        <span>Date :</span>
        <span class="num-transaction">01/03/2023 20:40</span>
      </div>

    </div>
    
    <div class="publicite">
      <h3>Offre spéciale</h3>
      <p>Faites une transaction d'au moin 5.000.000F ce mois-ci et profitez de taux d'intérêt compétitifs, d'une carte de crédit sans frais annuels et d'une application mobile conviviale pour gérer vos finances en toute simplicité.</p>
      <div class="pub">
        <a href="../templates/transaction_bank.html">Faire une transaction</a>
      </div>
    </div>
  </div>

  <script src="../static/js/transaction_bank.js"></script>
</body>
