
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}


.container
{
    display: block;
}


.fond
{
    opacity: 0.1;
    position: absolute;
    left: 50%;
    width: 30%;
    bottom: 200px;
}

.list
{
    background-color: #7451EB;
    width: 20%;
    height: 100vh;
}

.lien
{
    display: block;
    position: absolute;
    top: 30%;
    font-size: 1.5em;
}

.lien div
{
  margin: 40px;
  width: 100%;
}

.lien div a:hover
{
  color: #FFFAAE;
}

.lien div:hover
{
    border-bottom: 2px solid #FFFAAE;
}

.lien div a
{
  text-decoration: none;
  color: white;
}

.profil
{
    width: 100%;
    height: 25%;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #FFFAAE;
}

.profil_photo
{
    width: 40%;
    height: 65%;
    background-color: white;
    border-radius: 100px;
    margin: auto;
    position: relative;
    top: 10px;
}

.profil_bouton
{
    width: 30%;
    height: 13%;
    position: relative;
    left: 35%;
    top: 10%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #7451EB;
    border: 1px solid #FFFAAE;
    border-radius: 10px;
    color: white;
}

.profil_bouton:hover
{
    background-color: #FFFAAE;
    color: #7451EB;
}

.action
{
    display: flex;
    justify-content: space-around;
    width: 70%;
    position: absolute;
    bottom: 350px;
    left: 25%;
}

.titre

{
    position: absolute;
    bottom: 900px;
    text-align: center;
    left: 50%;
}