<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashbord.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="list">
            <div class="profil">
                <div class="profil_photo"></div>
                <button class="profil_bouton">Mon profil</button>
            </div>
            <div class="lien">
                <div><a href="#">Reserver en avance</a></div>
                <div><a href="../templates/transactions.html">Transaction</a></div>
                <div><a href="#">Autre portefeuille</a></div>
                <div><a href="#">Paramettre</a></div>
            </div>
        </div>
        <div class="action">
            <div> <img src="image/Capture d’écran 2023-05-22 à 16.48.09.png" alt=""></div>
            <div> <img src="image/Capture d’écran 2023-05-22 à 16.52.05.png" alt=""></div>
            <div> <img src="image/Capture d’écran 2023-05-22 à 16.52.25.png" alt=""></div>
        </div>
        <div class="fond"><img src="image/Banque de Condorcet (2).png" alt=""></div>
        <div class="titre"><h1>BIENVENUE Utilisateur !!!</h1></div>
        

    </div>
</body>
</html>