<!DOCTYPE html>
<html>

<head>
	<title>Sidebar</title>

	<link rel="stylesheet" type="text/css" href="../static/css/dashborad.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
	<div class="container">
		<div class="sidebar">
			<ul>
				<li>
					<a href="#"><i class="fa-solid fa-gauge fa-beat-fade" style="color: #fffaee"></i>
						Tableau de bord</a>
				</li>
				<li><a href="#">Mon porte feuille</a></li>
				<li><a href="#">Transactions</a></li>
				<li><a href="#">Historique</a></li>
				<li><a href="#">Paramètres</a></li>
			</ul>
		</div>
		<div class="content1">
			<div class="navbar1">
				<ul>
					<li>Profil</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>