<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="profileone.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-P0bxBvZuV7szJ0NRio+N0QJcE3jj3rl89KjTgT1fmOhM8Nhv1ZS2S+lmzjK61O8OLJv4y+4wL4j/OOx+5GjK5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-w+iChLJuf/E/0klIN6Q0KjHTkZq7U6/gzX6DjKvwF79oiyj7c6Y17jfMiGue5E5KjGZfC28i9XO09orCuFCeBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../static/css/profil.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
             <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
</head>
<body>
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" >
                <tbody>
                  <tr>
                    <td width="150" style="vertical-align: middle;">
                        <span style="margin-right: 20px; display: block;">
                            <div class="profile-pic">
                                <img alt="User Pic" src="https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png" id="profile-image1" height="200">
                                <input id="profile-image-upload" class="hidden" type="file" onchange="previewFile()" >
                                <div style="color:#999;" >  </div>
                        </div> 
                        </span>
                    </td>
                    <td style="vertical-align: middle;">
                      <h3 style="color: #9DA9F3;"><span>Nom </span><span></span><span>Prénom</span></h3>
                      <p style="color: #9DA9F3;"><span>Web tools developer</span></p>
                      <p style="color: #9DA9F3;"><span>News Editor</span></p>
                    </td>
                    <td width="30">
                      <div style="width: 30px;"></div>
                    </td>
                    <td color="#f50606" direction="vertical" width="1" style="width: 1px; border-bottom: none; border-left: 1px solid #7451EB;"></td>
                    <td width="30">
                      <div style="width: 30px;"></div>
                    </td>
                    <td style="vertical-align: middle;">
                      <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Raleway;">
                        <tbody>
                          <tr height="25" style="vertical-align: middle;">
                            <td width="30" style="vertical-align: middle;">
                              <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Raleway;">
                                <tbody>
                                  <tr>
                                    <td style="vertical-align: bottom;"><span><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" width="13" class="sc-iRbamj blSEcj" style="display: block; background-color: #7451EB;"></span></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td><a href="#" style="text-decoration: none; color: #9DA9F3; font-size: 12px;"><span>0000000000</span></a></td>
                          </tr>
                          <tr height="25" style="vertical-align: middle;">
                            <td width="30" style="vertical-align: middle;">
                              <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle;">
                                <tbody>
                                  <tr>
                                    <td<span><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"  width="13" style="display: block; background-color: #7451EB;"></span></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td><a href="#" style=" color: #9DA9F3 ; font-size: 12px;"><span>Mohamed@com</span></a></td>
                          </tr>
                          <tr height="25" style="vertical-align: middle;">
                            <td width="30" style="vertical-align: middle;">
                              <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle;">
                                <tbody>
                                  <tr>
                                    <td><span><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"  width="13" style="display: block; background-color: #7451EB;"></span></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td><a href="#" style=" color: #9DA9F3; font-size: 12px;"><span>www.a7rarpress.blogspot.com</span></a></td>
                          </tr>
                          <tr height="25" style="vertical-align: middle;">
                            <td width="30" style="vertical-align: middle;">
                              <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle;">
                                  <tr>
                                    <td><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png" width="13" style="display: block; background-color:#7451EB;"></span></td>
                                  </tr>
                              </table>
                            </td>
                            <td><span style=" color: #9DA9F3;font-size: 12px;"><span>Palestine - Gaza Strip</span></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Raleway; width: 100%;">
                <tbody>
                  <tr>
                    <td height="30"></td>
                  </tr>
                  <tr>
                    <button class="bouton">Ajouter un photo </button>
                    <td color="#f50606" direction="horizontal" height="1" style="width: 100%; border-bottom: 1px solid #7451EB; border-left: none; display: block;"></td>
                  </tr>
                  <tr>
                    <td height="30"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Raleway; width: 100%;">
                <tbody>
                  <tr>
                    <td style="vertical-align: top;"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <script src="../static/js/profil.js"></script>
</body>
</html>