<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/rendez_vous.css" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <title>Prise de RDV</title>
  </head>

  <body>
    <div class="container">
      <div class="content">Formulaire de prise de rendez-vous</div>
      <form class="form">
        <p class="title">Entrez vos détails</p>
        <p class="message">
          Donnez vos informations relative a votre prise de rendez-vous
        </p>

        <select name="" id="">
          <option value="" selected>Pour qui prenez-vous le rendez-vous ?</option>
          <option value="">Moi</option>
          <option value="">Un proche</option>
        </select>

        <label>
          <input required="" placeholder="" type="text" class="input" />
          <span>Pour qui prenez-vous le rendez-vous ?</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" />
          <span>Numero du compte</span>
        </label>
        <label>
          <input required="" placeholder="" type="text" class="input" />
          <span>Nom complet</span>
        </label>
        <button class="submit">Soumettre</button>
      </form>
    </div>
  </body>
</html>
