<!-- <!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord du compte bancaire</title>
    <link rel="stylesheet" type="text/css" href="b.css">
</head>
<body>
    <div class="tableau-de-bord">
        <div class="card-solde">
            <h2>Solde</h2>
            <p class="montant">€10,000.00</p>
        </div>
        <div class="boutons">
            <button class="bouton">Dépôt</button>
            <button class="bouton">Retrait</button>
        </div>
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/transaction_bank.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
           <div class="image-text">
            <span>
                <!-- <img src="../static/téléchargement.png" alt=""> -->
            </span>

            

            <div class="text header-text" style="color: #7451EB;">
                <i class=" icon"><img src="../static/img/Banque de Condorcet (2).png" alt=""></i>
                <span  class="name" style="color: #7451EB;">Bank Solu</span>
                
            </div>
           </div> 
           <i class="bx bx-chevron-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    
                        <i class=" icon"><img style="width: 70px;height: 50px; border-radius: 50px;" src="../static/img/photo.png" alt=""></i>
                        <span class="text nav-text" for="" > <a style="color: rgba(0, 0, 0, 0.557);" href=""> Profil</a></span>
                        <!-- <input type="text" placeholder="Search..."> -->
                        
                   
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-transfer icon'></i>
                            <span class="text nav-text">Transaction</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-calendar-check icon'></i>
                            <span class="text nav-text">Prise de rendez-vous</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-pie-chart-alt icon"></i>
                            <span class="text nav-text">Historique</span>
                        </a>
                    </li>
                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-heart icon"></i>
                            <span class="text nav-text">Déconnexion</span>
                        </a>
                    </li> -->
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-wallet icon"></i>
                            <span class="text nav-text">Portefeuille</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Déconnexion</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moov-sum">
                        <!-- <i class="bx bx-moon icon moon"></i> -->
                        <!-- <i class="bx bx-sun icon sun" ></i> -->
                    </div>

                       <!-- <span class="mode-text text">Dark Mode</span> -->

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
<!-- transaction bancaire -->
    <section class="home">
        <div class="text">
            <div class="tableau-de-bord">
                <h1 style="position: relative; bottom: 200px; font-size: 30px; text-decoration: underline; color: rgba(0, 0, 0, 0.803);"><i class='bx bx-transfer icon' style="color: #7451EB;"></i> Transaction bancaire</h1>
                
                <div class="card-solde">
                    <h2>Solde</h2>
                    <p class="montant" id="solde">10,000.00</p>
                </div>
                <div class="boutons">
                    <button class="bouton" onclick="afficherFormulaire('formulaire-depot')">Dépôt</button>
                    <button class="bouton" onclick="afficherFormulaire('formulaire-retrait')">Retrait</button>
                </div>
                <div id="formulaire-depot" class="formulaire">
                    <h3>Dépôt</h3>
                    <form onsubmit="effectuerDepot(event)">
                        <select  name="" id="">
                            <option  value="">Wave <img style="width: 20px; height: 20px; background: url(../static/img/Capture\ d’écran\ 2023-05-25\ à\ 10.14.23.png);" src="../static/img/Capture d’écran 2023-05-25 à 10.14.23.png" alt=""></option>
                            <option value="">Orange money</option>
                            <option value="">MOOV money</option>
                            <option value="">MTN money</option>
                        </select>
                        <input type="tel" placeholder="Numéro" id="numero-depot" />
                        <input type="tel" placeholder="Montant" id="montant-depot" />
                        <input type="submit" value="Valider" />
                    </form>
                </div>
                <div id="formulaire-retrait" class="formulaire">
                    <h3>Rétrait</h3>
                    <form onsubmit="effectuerRetrait(event)">
                        <select  name="" id="">
                            <option  value="">Wave <img style="width: 20px; height: 20px; background: url(../static/img/Capture\ d’écran\ 2023-05-25\ à\ 10.14.23.png);" src="../static/img/Capture d’écran 2023-05-25 à 10.14.23.png" alt=""></option>
                            <option value="">Orange money</option>
                            <option value="">Moov money</option>
                            <option value="">MTN money</option>
                        </select>
                        <input type="tel" placeholder="Numéro" id="numero-retrait" />
                        <input type="tel" placeholder="Montant" id="montant-retrait" />
                        <input type="submit" value="Valider" />
                    </form>
                </div>
            </div>
            
        </div>
    </section>

    <script src="../static/js/transaction_bank.js"></script>
</body>
</html>